:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --Outfit:"Outfit"
}

* {
  box-sizing: border-box;
  margin: 0;
  
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--Outfit);
  }

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-basis: 290px;
  padding: 1rem;
  border-radius: 1.8em;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_image {
  max-width: 100%;
  width: 290px;
  border-radius: 0.8em;
}

.card__title {
  font-size: 15px;
  color:hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.card__description {
  font-size:  15px;
  color: var(--Grayish-blue);
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 30px;
}
